.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}

.navbar-nav li {
    margin-right: 3em;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}


.jumbotron-image {
    position: relative;
  }

  .jumbotron-image::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("../img/spa.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    filter: grayscale(50%) brightness(0.4);
  }
  .jumbotron-image-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }

.lnr-magnifier {
    color: white;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white;
}